In [1]:
%matplotlib inline
import pandas as pd

In [2]:
df = pd.read_csv('../Data/Uncover/New_York_Times/excess-deaths/deaths.csv')

In [5]:
usa = df[df.country=='United States']
usa.placename.unique()

array(['New York City'], dtype=object)

In [13]:
set(df['placename'])

{'Fortaleza',
 'Istanbul',
 'Jakarta',
 'Manaus',
 'Moscow',
 'New York City',
 'Recife',
 'Rio de Janeiro',
 'Sao Paulo',
 nan}

In [9]:
usa.set_index('start_date')[['expected_deaths','excess_deaths']].dropna()

            expected_deaths  excess_deaths
start_date
2020-01-05           1194.0         -108.0
2020-01-12           1145.0          -15.0
2020-01-19           1191.0          -27.0
2020-01-26           1137.0            8.0
2020-02-02           1199.0          -60.0
2020-02-09           1123.0           -4.0
2020-02-16           1069.0          -14.0
2020-02-23           1059.0           36.0
2020-03-01           1075.0            8.0
2020-03-08           1078.0           42.0
2020-03-15           1031.0          353.0
2020-03-22           1027.0         1717.0
2020-03-29           1023.0         5057.0
2020-04-05           1066.0         6675.0
2020-04-12           1011.0         4736.0
2020-04-19            978.0         2894.0
2020-04-26            999.0         1441.0
2020-05-03            985.0         1301.0
2020-05-10           1022.0          634.0